#13293D black
#004f73 darkblue
#247BA0 blue
#1B98E0 lightblue
#E8F1F2 cream


html{
	margin: 0;
	background-color: #000000;
}

 /* modifier la scrollbar */
html { overflow-x: hidden; }
::-webkit-scrollbar {
	width: 15px;
  }
  
  /* Fond de la scrollbar */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* poignée coulissante */
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* poignée coulissante hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }
  /*Fin modifier la scrollbar */
/* -------Début barre de navigation------- */
header{
	width: 100vw;
	background-color: #E8F1F2;
	padding: 1% 1%;
	font-size: 20px;
	position: fixed;
	margin: -0.6% -0.6% ;
	color: #13293D;
	display: flex;
    justify-content: center;
	z-index: 100;
}
header a {
	color: black;
	font-size: small;
	margin-left: 10%;
}
header a:hover {
	color: grey;
}

#home{
	margin-right: 10%;
	color: #247BA0;
	font-family: Calibri, sans-serif;
	font-weight: bold;
}
#home:hover{
	color: #1a5d7a;
	cursor: pointer;
}

nav{
	display:inline-block;
}

header nav span {
    margin-right: 30px; /* Espacement entre les mots */
	font-size: large;
}

/* surligner au survol  */
nav .nav-item:hover {
	color: #004f73;
	text-decoration: underline;
	cursor: pointer;
}
/* Sousligner au survol de la section*/
.nav-item.active {
    text-decoration: underline; /* Soulignez l'élément actif */
}

/* Style du bouton principal */
.dropbtn {
    background-color: #dde5e6;
    color:#13293D;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	margin-left: 20px;
	display: flex;
    align-items: center;
	white-space: nowrap; /* Empêche le retour à la ligne */
	min-width: 100px;
}


/* Style du conteneur du menu déroulant */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style du contenu du menu déroulant (caché par défaut) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    z-index: 1;
}

/* Style des liens dans le menu déroulant */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Changement de couleur au survol des liens */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Affichage du menu déroulant lorsque survolé */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style des drapeaux */
.langue-drapeau {
    width: 15px;
    height: 15px;
    margin-right: 5px;
} 

  
/* -------Fin de la barre de navigation------- */


/* Définition de la taille de l'écran */
main {
	display: flex;
    flex-direction: column;
    height: 700vh; /* Chaque page prendra 100% de la hauteur de l'écran. Changer pour avoir 100*nb pages*/
	width: 100vw;
}
a{
	text-align: justify;
}



/* définition des class */
.page{
    flex: 1; /* Chaque pages prend la taille de l'écran */
	display: flex;
    flex-direction: column;
    align-items: center; 
}
#comp{
	flex: 2;
}


.barre_sep {
    width: 50%;
    height: 2px; 
    background-color: #13293D; 
	margin-top: 3%;
}






/* --------Fin de définition des class--------------*/

.titre_page {
	color: #13293D ;
	display: flex;
    justify-content: center;
}

/*---------- Début de la page accueil------------- */
#accueil{
	background-image: linear-gradient(to bottom, #01283b ,#1f759a);
}

#accueil h1{
	color: #e8f1f2;
	margin-top: 10%;
	font-size:400%;
}
.petite_barre_sep {
    width: 25%;
    height: 2px; 
    background-color: #c5c5c5; 
	margin: 2%;
}


#text_page_accueil{
	color: #E8F1F2;
	width: 63%;
	text-align: justify;
}
#text_page_accueil a{
	color: #E8F1F2;
	text-decoration: underline #e8f1f25b;
}
#text_page_accueil a:hover{
	color: #ffffff;
	text-decoration: underline #ffffffab;
}

#accueil .nav-item{
	color: #E8F1F2;
	font-weight: bold;
	font-size: xx-large;
	margin-top: 10%;
}

#accueil .nav-item:hover{
	color: #000000;
	font-weight: bold;
	font-size: xx-large;
	margin-top: 10.5%;
	cursor: pointer;
}

/*-------------- Fin de la page accueil -------------- */

/* -------------- Début de la page prez -------------- */

#conteneur_prez {
    display: flex;
	margin-top: 7%;
}

.pierrejpeg {
	width: 560px;
    height: 400px;
	margin-left: 15%;
	border-radius: 15px;
	border:  solid 1px black;
}


#text_prez {
	margin: 2% 15% 0 10%;
	text-align: justify;
}
#text_prez a {
	text-decoration: underline rgba(128, 128, 128, 0.555);
	color: #000000;
}

#prez .nav-item{
	color: #1f759a;
	font-size: xx-large;
	font-weight: bold;
	margin-top: 4%;
}

#prez .nav-item:hover{
	color: #000000;
	font-size: xx-large;
	font-weight: bold;
	margin-top: 4.5%;
	cursor: pointer;
}
/*--------------  Fin de la page prez -------------- */

/*--------------  Début de la page comp -------------- */
.container_comp{
	width: 90%;
	margin-left: 2.5%;
}

.card-img-top{
	height: 200px;
}
.card-title{
	height: 20px;
}
.card-text{
	height: 30px;
}

.card{
	margin-top: 5px;
	transition: box-shadow 0.3s ease;
	width: 300px;
	margin-left: 2.5%;
}
.card:hover{

	box-shadow: 0px 0px 10px #1f759aa1;
	
}
/* animation chargement prochaine compétence */
.square-circle-5 {
	width:65px;
	aspect-ratio:1;
	position:absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);

  }
  .square-circle-5:before,
  .square-circle-5:after {
	content:"";
	position:absolute;
	border-radius:50px;
	box-shadow:0 0 0 3px inset #1f759a;
	animation:sc5 2.5s infinite;
  }
  .square-circle-5:after {
	animation-delay:-1.25s;
	border-radius:0;
  }
  @keyframes sc5{
	0%    {inset:0    35px 35px 0   }
	12.5% {inset:0    35px 0    0   }
	25%   {inset:35px 35px 0    0   }
	37.5% {inset:35px 0    0    0   }
	50%   {inset:35px 0    0    35px}
	62.5% {inset:0    0    0    35px}
	75%   {inset:0    0    35px 35px}
	87.5% {inset:0    0    35px 0   }
	100%  {inset:0    35px 35px 0   }
  }
/* fin animation chargement prochaine compétence */
/*--------------  Fin de la page comp -------------- */

/*--------------  Début de la page parcours -------------- */

.timeline{
	margin-top: 70px;
	margin-left: 5%;
	position: relative;
	width: 90%;

}
.timeline .container {
    padding: 10px 50px;
    position: relative;
    width: 60%;
    margin: 0 auto;
	opacity: 0;
}



@keyframes movedown{
	from{
		opacity: 0;
		transform: translateY(-30px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);
	}
}


.timeline .left-container{
	left: -28%;
}
.timeline .left-container-arrow{
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #EAEAEA;
	right: -15px;
}

.timeline .right-container{
	left: 28%;

}
.timeline .right-container-arrow{
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #EAEAEA;
	left: -15px;
}

.timeline .text-box{
	text-align: center;
	padding: 20px 30px;
	background-color: #EAEAEA;
	position: relative;
	border-radius: 6px;
	font-size: 11;
}

.timeline  .text-box img{
	height: 40px;
}
.timeline .text-box h3{
	font-weight: 600;
}
.timeline .text-box small{
	display: inline-block;
	margin-bottom: 15px;
}

.timeline::after{
	content: "";
	position: absolute;
	width: 6px;
	height: 100%;
	background: #000000;
	top:0;
	left: 50%;
	margin-left: -3px;
	z-index: -1;
	opacity: 0;
	
}

.timeline .container {
    animation: movedown 1s linear forwards;
    animation-fill-mode: forwards;
}

.timeline::after {
    animation: moveline 3s linear forwards; /* 1s per container */
    animation-fill-mode: forwards;
}
/* delai de l'animation Timeline */
.timeline .container:nth-child(1) {
    animation-delay: 0s;
}

.timeline .container:nth-child(2) {
    animation-delay: 1s; 
}
.timeline .container:nth-child(3) {
    animation-delay: 2s; 
}
.timeline .container:nth-child(4) {
    animation-delay: 3s; 
}

@keyframes moveline{
	0%{
		height: 0%;
		opacity: 1;
	}
	100%{
		height: 100%;
		opacity: 1;
	}
}


@media screen and (max-width: 600px){
	.timeline{
		margin: 40px auto;
	}
	.timeline::after{
		left: 31px;
	}
	.container{
		width: 100%;
		padding-left: 80px;
		padding-right: 25px;
	}
	.text-box{
		font-size: 13px;
	}
	.text-box small{
		margin-bottom: 10px;
	}
	.right-container{
		left: 0;
	}
	.left-container-arrow{
		border-right: 15px solid #EAEAEA;
		border-left: 0;
		left: -15px;
	}
}
.timeline a{
	color: #13293D;
	text-decoration: underline #13293d34;
}
/*--------------  Fin de la page parcours -------------- */

/*--------------  Fin de la page contact -------------- */

footer{
	background-color: #E8F1F2;
	font-size: large;
	width: 100%;
	padding: 1% 1%;
	font-size: 20px;
	margin: -0.6% -0.6% ;
	color: #13293D;
	display: flex;
    justify-content: center;
}